.data-hora {
    text-align: center;
}

#btn-dialog-fechar {
    position: absolute;
    top: 0%;
    right: 0%;
}

#pop-up {
    text-align: center;
    background-color: greenyellow;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
}

#btn-close-pop-up {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 20px;
    background-color: greenyellow;
    border: none;
}

.visible {
    visibility: visible;
    animation-duration: 1s;
    animation-name: show-pop-up;
}

.not-visible {
    visibility: hidden;
}

@keyframes show-pop-up {
    from {
        top: -9%;
    }
    to {
        top: 0%;
    }
}

@keyframes hide-pop-up {
    from {
        top: 0%;
    }
    to {
        top: -9%;
    }
}